# exlude venv

/venv
/Database/images
/Map/static/pothole_images
/Map/JWT_key
/Database/potholes.db
/Processing_Data/models
/Processing_Data/pothole-env-export
/Processing_Data/test_results
/Processing_Data/test_images
/Processing_Data/utils