/* === Dark Theme === */
:root {
  --color-black:   #120F1F;
  --color-purple:  #514A73;
  --color-mint:    #5FB68B;
  --color-maroon:  #793243;
  --color-lilac:   #B1A0DB;
  --color-orange:  #BE7462;
  --color-gold:    #CDA27E;
  --color-cream:   #DFDCE8;
}

.dark-theme {
  background: var(--color-black);
  color: var(--color-cream);
}

.dark-theme .report-sidebar {
  background: #292441;
}

.dark-theme .report-text {
  color: white;
}

.dark-theme .report-text:hover,
.dark-theme .report-text.active {
  border-radius: 5px;
  background: #564b72;
}


/* LIGHT THEME */
.light-theme {
  --color-black:   #DAD2D8;
  --color-purple:  #A6B1E1;
  --color-mint:    #6dbdbe;
  --color-maroon:  #985F6F;
  --color-orange:  #A8201A;
  --color-cream:   #25262C;
  --fg-main:       #25262C;
  --bg-main:       #F9F7F3;
  background-color: var(--bg-main);
  color: var(--fg-main);
}

.light-theme .report-sidebar {
  background-color: #b9b9b9;
}

.light-theme .report-text {
  color: var(--fg-main);
}

.light-theme .report-text:hover,
.light-theme .report-text.active {
  border-radius: 5px;
  background: #dddddd;
  color: black;
}



/* === Reset General === */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, sans-serif;
}

body {
  background: var(--color-black);
  color: var(--color-cream);
  height: 100vh;
  display: flex;
  overflow: hidden;
  font-size: 1rem;
}

/* === Sidebar === */
.report-sidebar {
  width: 240px;
  height: 100vh;
  background: #292441;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.report-header h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--color-cream);
  margin-bottom: 10px;
}

.report-header hr {
  border: 1px solid white;
  margin-bottom: 20px;
}

.report-text {
    font-size: 1.5rem;
  margin: 5px 0px;
  font-weight: 800;
  cursor: pointer;
  color: white;
  padding: 5px 4px;
  border-radius: 3px;
}

.report-text.active,
.report-text:hover {
  background: #564b72;
  color: white;
  font-weight: bold;
}

/* === Main Wrapper === */
.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
}

/* === Change theme color === */
.bg-dark-purple    { background-color: var(--color-black) !important; color: white !important; }
.bg-medium-purple  { background-color: var(--color-purple) !important; color: white !important; }
.bg-light-purple   { background-color: var(--color-purple) !important; color: white !important; }
.bg-green          { background-color: var(--color-mint) !important; color: black !important; }
.bg-orange         { background-color: var(--color-orange) !important; color: white !important; }
.bg-gold           { background-color: var(--color-gold) !important; color: black !important; }
.bg-cream          { background-color: var(--color-cream) !important; color: black !important; }
.bg-maroon         { background-color: var(--color-maroon) !important; color: white !important; }
.text-orange       { color: var(--color-orange) !important; }
.text-cream        { color: var(--color-cream) !important; }
.text-lilac        { color: var(--color-lilac) !important; }

/* Big Graph */
#chart, #graph-container {
  width: 100%;
  height: 100%;
  background-color: #312a55;
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* === Bootstrap override === */
.bg-primary, .bg-secondary, .bg-light, .bg-dark {
  background-color: var(--color-purple) !important;
  color: white !important;
}

/* === General Buttons === */
button {
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  filter: brightness(1.1);
}

.btn-danger:hover {
  background-color: #a63439 !important;
}

.report-text.active,
.report-text:hover {
  margin-left: -20px !important;
  padding-left: 20px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  width: calc(100% + 20px);
}
