/* :root {
  --color-black:   #120F1F;
  --color-purple:  #514A73;
  --color-mint:    #5FB68B;
  --color-maroon:  #793243;
  --color-lilac:   #B1A0DB;
  --color-orange:  #BE7462;
  --color-gold:    #CDA27E;
  --color-cream:   #DFDCE8;
} */


/* === Stiluri comune pentru login / register === */

.auth-body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
  font-family: 'Segoe UI', sans-serif;
  color: var(--color-cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-container {
  background-color: var(--color-purple);
  padding: 40px 30px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--color-cream);
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-form input {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: var(--color-lilac);
  color: var(--color-black);
}

.auth-form input::placeholder {
  color: var(--color-black);
  opacity: 0.8;
}

.auth-form button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: var(--color-mint);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-form button:hover {
  background-color: var(--color-gold);
}

.auth-footer {
  text-align: center;
  margin-top: 10px;
}

.auth-footer a {
  color: var(--color-cream);
  text-decoration: underline;
}


/* MAP */

#map {
    height: 100vh;
    width: 100%;
}
.leaflet-popup-content {
    max-width: none !important;
}

.big-popup .leaflet-popup-content {
    width: auto;
    max-width: none;
    overflow-x: auto;
}
